version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: pgdatabase
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ny_taxi
    ports:
      - "5433:5432"       # host:container
    volumes:
      - ny_taxi_volume:/var/lib/postgresql/data
    networks:
      - pg-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "8085:80"         # host:container
    networks:
      - pg-network

volumes:
  ny_taxi_volume:

networks:
  pg-network:
